# dependencies
/node_modules
/.pnp
.pnp.js

# Python (Backend) - مهم جداً لمشروعك
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Testing & Coverage
/coverage
.pytest_cache/

# Production
/build
/dist

# Docker
.dockerignore

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*